.services .box-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  gap: 2rem;
  /* background-color: red; */
}

.services .box-container .box {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2rem;
}

.services .box-container .box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.8rem;
  line-height: 1.5;
}

.services {
  padding-top: 10rem;
  /* padding-bottom: 10rem; */
}
