
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 767px) {
    form {
        width: 90%;
    }
}
h2 {
    color: #16A085;
    margin-bottom: 40px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="date"] {
    appearance: none;
}

button[type="submit"] {
    background-color: #16A085;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    opacity: 0.8;
}


