body {
  position: relative;
  /* background: #f1fffa; */
}

.primary-color {
  color: #16a085;
}

/*#############projects##########*/

#projects button {
  background: #16a085;
  color: #f1fffa;
  transition: all 0.5s ease-in-out;
}

#projects button:hover {
  background: #242424;
}

/* Prevent image stretching as it's resized */
.card-img-top {
  object-fit: cover;
}

.row > div[class*="col-"] {
  display: flex;
}

/* Hover effects */
.card {
  transition: -webkit-transform 0.3s ease;
  min-height: 58vh;
}

.card:hover {
  transform: scale(1.01, 1.01);
}

/* Responsive design for image heights */
@media (min-width: 576px) {
  .card-img-top {
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 20vw;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    height: 20vw;
  }
}
