.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 33%;
  margin-top: 5%;
}

.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding-top: 1rem;
}

.blogs .box-container .box .content .icon {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover {
  color: var(--green);
}

.blogs .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--green);
}

.blogs .box-container .box .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.blogs .box-container .box .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.headinsg {
  margin-top: 10%;
  margin-bottom: 1%;
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.headinsg span {
  text-transform: uppercase;
  color: var(--green);
}
