/* Register form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Register form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0077b6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #023e8a;
}

/* Error message */
.error-message {
  color: red;
  margin-top: 10px;
}
